.photoProfile{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #082044;
    border: 5px solid #fff;
    color: #fff;
    font-weight: bold;
    font-size: 60px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    line-height: 90px;
    margin-top: -50px;
}