.banner{
    width: 70%;
    height: 150px;
    border: 2px solid #082044;
    border-radius: 30px;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
}
.banner .addImage{
    cursor: pointer;
    border: none;
    background-color: #fff;
}